VITE_API_BASE_URL=http://localhost:5270/api
VITE_WORKSPACE_NOTIFICATIONS_HUB_URL=
VITE_WORKSPACE_SOCKET_URL=
VITE_LOGIN_ENDPOINT=/auth/login
VITE_FORGOT_PASSWORD_ENDPOINT=/auth/forgot-password
VITE_RESET_PASSWORD_ENDPOINT=/auth/reset-password
